@page "/login"
@using MyBlog.BlazorApp.Models;


<PageTitle>Sign In</PageTitle>

<AuthorizeView Context="Auth">
    <Authorized>
        <span>You're authorized successfully!</span>
    </Authorized>
    <NotAuthorized>
        <h3>Sign In</h3>
        <EditForm id="loginForm" Model="login" OnSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class='loginfield'>
                <label>UserName</label><br />
                <InputText @bind-Value="login.UserName" class="js-userRegex" /><br />
                <ValidationMessage For="@(() => login.UserName)" />
            </div>
            <div class='loginfield'>
                <label>Password</label><br />
                <InputText @bind-Value="login.Password" type='password' /><br />
                <ValidationMessage For="@(() => login.Password)" />
            </div>
            <div id="valMes"></div>

            <div>
                <a href="register">Register</a>
            </div>

            <div class='loginactions'>
                <button id="loginBtn" type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </EditForm>
        @if (ErrorMessages.Any())
        {
            foreach (var err in ErrorMessages)
            {
                <p class="text text-danger">@err</p>
            }
        }
    </NotAuthorized>
</AuthorizeView>

@code {

}
