@page "/register"

<PageTitle>Регистрация</PageTitle>

<AuthorizeView Context="Auth">
    <Authorized>
        <span>Успешная регистрация!</span>
    </Authorized>
    <NotAuthorized>
        <h3>Регистрация</h3>
        <EditForm id="registerForm" Model="register" OnSubmit="HandleRegister">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class='registerfield'>
                <label>Имя пользователя</label><br />
                <InputText @bind-Value="register.UserName" class="js-userRegex" /><br />
                <ValidationMessage For="@(() => register.UserName)" />
            </div>
            <div class='registerfield'>
                <label>Пароль</label><br />
                <InputText @bind-Value="register.Password" type='password' /><br />
                <ValidationMessage For="@(() => register.Password)" />
            </div>
            <div class='registerfield'>
                <label>Email</label><br />
                <InputText @bind-Value="register.Email" /><br />
                <ValidationMessage For="@(() => register.Email)" />
            </div>
            <div>
                <a href="login">Вход</a>
            </div>

            <div class='registeractions'>
                <input id="registerBtn" type="submit" class="btn btn-primary" value="Зарегистрироваться" />
            </div>
        </EditForm>
        @if (ErrorMessages.Any())
        {
            foreach (var err in ErrorMessages)
            {
                <p class="text text-danger">@err</p>
            }
        }
    </NotAuthorized>
</AuthorizeView>

@code {

}
