@using MyBlog.Web.ViewModels.Image
@model AvatarViewModel
@{
}

<!-- UploadUserAvatar Modal -->

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="uploadUserAvatarModalLabel">Upload Avatar of @Model.Username</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <input asp-for="Username" type="hidden" value="@Model.Username" />
            @Html.HiddenFor(x=>x.Username)
            <div class="card" style="margin-top:10px;">
                <div class="card-header">Cropper in ASP.NET Core</div>
                <div class="card-body">
                    <div id="main-cropper"></div>
                    <label class="control-label"></label><br />

                    <input type="file" id="select" class="form-control" value="Choose Image" accept="image/*">
                    <button id="btnupload" style="margin-top: 10px;"
                    name="btnupload" class="btn btn-success" data-bs-dismiss="modal">Crop</button>

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>


    </div>
</div>
<script>
    loadAvatarScript();
</script>
