@using MyBlog.Web.ViewModels.User
@model UserViewModel
@{
}

<input type="hidden" value="@(Model.UserName)" id='userEditHidden'>
<!-- EditUser Modal -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editUserModalLabel">Edit @Model.UserName</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form onsubmit="return editUserFunc(this)" asp-controller="User" asp-action="EditUserProfile" method="post">
            <div class="modal-body">
                <h3>Edit @Model.UserName profile</h3>
                <div asp-validation-summary="All"></div>
                <p>
                    <label>About me:</label>
                    <input asp-for="AboutMyself" />
                </p>
            </div>
            <div class="modal-footer">
                <input id="btnSaveEdit" type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Save" />
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>

    </div>
</div>
