@using MyBlog.Web.ViewModels.User
@model UserViewModel
@{
}

<div>
    @*<img src="@("~/avatars/" + Model.AvatarName)" asp-append-version="true" class="border me-2"*@
         alt="Avatar" style="height: 40px" />

    <button id="userProfileBtn" class="btn btn-link" data-author="@Model.UserName">@Model.UserName</button>
</div>