@using MyBlog.Web.ViewModels.User
@model UserViewModel
@{
}

<div class="card border-primary" style="max-width: 540px; min-width: 450px;">
    <div class="row g-0">
        <div class="col-4">
            @*<img src="@("~/avatars/" + Model.AvatarName)" asp-append-version="true" class="border me-2"*@
                 alt="Avatar" style="height: 150px" />
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">@Model.UserName</h5>
                @if (Model.isBlocked)
                {
                    <p class="card-text text-danger">BLOCKED</p>
                }
                else
                {
                    <p class="card-text">@Model.AboutMyself</p>
                }
                <a id="userProfileBtn" class="stretched-link" data-author="@Model.UserName"></a>
            </div>
        </div>
    </div>
</div>