@using MyBlog.Web.ViewModels.Accounts;
@model RegisterViewModel
@{
}

<!-- Register Modal -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="loginLabel">Register</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <form id="registerForm" onsubmit="return registerFunc(this)" asp-controller="Accounts" asp-action="Register" method="post">
            <div class="modal-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class='registerfield'>
                    <label>UserName</label><br />
                    <input asp-for="UserName" class="js-userRegex" /><br />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class='registerfield'>
                    <label>Password</label><br />
                    <input type='password' asp-for="Password" /><br />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class='registerfield'>
                    <label>Email</label><br />
                    <input asp-for="Email" /><br />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div>
                    <a onclick="returnLoginView()" class="btn btn-link">Log in</a>
                </div>

                <div class='registeractions'>
                    <input id="registerBtn" type="submit" class="btn btn-primary" disabled="disabled" value="Register" />
                </div>
            </div>
        </form>

    </div>
</div>
