@using MyBlog.BlazorApp.Services.User;
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@inject IUserService UserService

<AuthorizeView>
    <Authorized>
            <NavLink class="nav-link" @onclick="Logout">
            <span class="oi oi-account-logout me-2"></span>Sign Out
            </NavLink>
        @*<button  class="btn btn-danger">Sign Out</button>*@
    </Authorized>
    <NotAuthorized>
            <NavLink class="nav-link" @onclick="Login">
            <span class="oi oi-account-login me-2"></span>Sign In
            </NavLink>
        @*<button @onclick="Login" class="btn btn-primary">Sign In</button>*@
    </NotAuthorized>
</AuthorizeView>

@code {
    void Login()
    {
        NavigationManager.NavigateTo("login");
    }

    async Task Logout()
    {
        var result = await AuthStateProvider.GetAuthenticationStateAsync();
        await UserService.SignOutAsync(result.User.Identity!.Name!);
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
}