@page "/create-post"

<h3>Создание проекта</h3>

<EditForm Model="_createPost" OnSubmit="HandleCreatePost">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="col-6 ">
        <label>Название проекта</label><br/>
        <InputText class="form-control" @bind-Value="_createPost.Title"/>
        <br/>
        <ValidationMessage For="@(() => _createPost.Title)"/>
        <label>Описание проекта</label><br/>
        <InputTextArea class="form-control" @bind-Value="_createPost.Text"/>
        <br/>
        <ValidationMessage For="@(() => _createPost.Text)"/>
    </div>

    <div>
        <button type="submit" class="btn btn-primary my-4">Создать проект</button>
    </div>

</EditForm>

@code {

}
