@page "/edit-post/{Id:int}"

<h3>Edit Post</h3>

<EditForm Model="_editPost" OnSubmit="HandleEditPost">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>Title</label><br />
    <InputText @bind-Value="_editPost.Title" /><br />
    <ValidationMessage For="@(() => _editPost.Title)" />
    <label>Text</label><br />
    <InputText @bind-Value="_editPost.Text" /><br />
    <ValidationMessage For="@(() => _editPost.Text)" />

    <br />
    <InputFile OnChange="OnInputFileChange"></InputFile> <br />



    <div>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</EditForm>
@if (images.Any())
{
    foreach (var image in images)
    {
        <img src="@($"{image.Key}")" width="180" />
        <button class="btn btn-danger" @onclick="@(e => HandleDeleteImg(image.Key))">Delete</button>

        <br />
    }
}
@code {

}
