<div class="row">
    <div class="col-8">
        <div class="card border-primary">

            <div class="p-2" style="color:black">
                @if (_sum.IsFile)
                {
                    <h6 class="card-title fw-bold">Суммаризация файла</h6>
                }
                else
                {
                    <h6 class="card-title fw-bold">Суммаризация текста</h6>
                    <p class="">@ShortInputText</p>
                }

                <span class="fs-6 fw-light" style="color:gray">@_sum.CreatedAt</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <MyBlog.BlazorApp.Pages.Users.UserHead Username="@(_sum.CreatedBy)"/>
    </div>
</div>