@using MyBlog.Web.ViewModels.Image
@model ImagesNamesViewModel
@{
}
<div>
    @Html.HiddenFor(x=>x.PostId)
    @if (Model.ImagesNames != null)
    {
        @foreach (var img in Model.ImagesNames)
        {
            <div id="imageContainer" class="col-md-4 px-0 js-imgDiv">
                <input id="imageNameHidden" type="hidden" value="@img" />
                <img src="@("~/postsImages/" + img)" asp-append-version="true" class="img-fluid" />
                <input id="deleteImageFromPost" type='submit' class="btn btn-danger js-delete" value='Remove' />
            </div>
        }
    }

    <input id="imageFileInput" name="images" type="file" accept="image/*" />
    <input type="button" id="addImageToPost" class="btn btn-primary" disabled="disabled" value="Add Image" /><br><br>
</div>
<script>
    $('#imageFileInput').hide()

    $('#addImageToPost').attr('disabled', false);

    if ($('.js-imgDiv').length > 2) {
        $('#addImageToPost').attr('disabled', 'disabled');
    }
    else {
        $('#addImageToPost').attr('disabled', false);
    }

    $('#addImageToPost').click(function () {
        $('#imageFileInput').click();
    });

    $('.js-delete').on('click', function (e) {
        var formData = new FormData();
        var imagename = $(this).parent().find('#imageNameHidden').val();
        formData.append('imagename', imagename);

        $.ajax({
            type: "POST",
            url: "Post/DeletePostImage",
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                $('#imagesEditPartial').load("/Post/GetPostImagesNames?postid=" + postId)
            }
        });
    });


    $('#imageFileInput').change(function () {
        var formData = new FormData();
        var postId = $("#PostId").val();
        var fileData = $("#imageFileInput")[0].files[0];
        formData.append('postid', postId);
        formData.append('image', fileData);

        //Debuging FormData
        //console.log('My formData:');
        //for (var p of formData) {
        //    console.log(p);
        //}

        $.ajax({
            type: "POST",
            url: "Post/UploadPostImage",
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                $('#imagesEditPartial').load("/Post/GetPostImagesNames?postid=" + postId)
            }
        });
    });
</script>